* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  .topbarLeft {
    flex: 3;
    span {
      text-decoration: none !important;
    }
    .logo {
      font-size: 24px;
      margin-left: 20px;
      font-weight: bold;
      color: white;
    }
  }
  .topbarRight {
    flex: 4;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    .topbarLink {
      text-decoration: none;
      color: white;
      margin-right: 30px;
      font-size: 14px;
      cursor: pointer;
      .topbarIcons {
        display: flex;
        .topbarIconItem {
          margin-right: 15px;
          cursor: pointer;
          position: relative;
        }
      }
    }
  }
}

.home {
  height: 100vh;
  width: 100vw;
  object-fit: conver;
}

.messenger {
  padding: 10px;
  height: calc(100vh - 70px);
  display: flex;
  .chatMenu {
    flex: 2.5;
    .chatMenuInput {
      margin-top: 10px;
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }
  }
  .chatBox {
    flex: 5.5;

    .chatBoxWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      border-left: 3px solid rgb(245, 243, 243);
      border-right: 3px solid rgb(245, 243, 243);

      .empty {
        margin-top: 150px;
      }
      .chatBoxTop {
        height: 100%;
        padding-left: 20px;
        overflow-y: scroll;
        padding-right: 20px;
      }
      .chatBoxBottom {
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 20px;

        .chatBoxBottomForm {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .chatMessageInput {
          width: 32rem;
          height: 30px;
          padding: -1px;
        }
      }
    }
  }
  .chatOnline {
    flex: 3;
  }
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  //   @media screen and (max-width: 768px) {
  //     .chatMenu {
  //       flex: 1;
  //     }

  //     .chatMenuInput {
  //       display: none;
  //     }

  //     .chatBox {
  //       flex: 10;
  //     }

  //     .chatOnline {
  //       flex: 1px;
  //     }
  //   }
}

.conversation {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  padding: 6px 8px;
  &:hover {
    background-color: rgb(245, 243, 243);
    border-radius: 20px;
  }

  .conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .conversationName {
    font-weight: 500;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .conversationName {
      display: none;
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
  .messageImg-own {
    display: none;
  }
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
    // display: flex;
    // flex-direction: column;
    &.hover {
      cursor: pointer;
    }
  }
}
.ant-upload-list.ant-upload-list-text {
  max-width: 150px;
}
.messageBottom {
  font-size: 12px;
  margin-top: 5px;
}
.message.friend .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}

.chatOnlineFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  .ant-avatar-lg {
    width: 150px;
    height: 150px;
  }
  cursor: pointer;
  margin-top: 10px;
  span {
    // margin-left: 10px;
    font-size: 30px;
  }
}

.img-carousel {
  width: 100%;
  height: 49rem;
  object-fit: cover;
}

.ant-carousel {
  width: 50% !important;
}

.login-container {
  .ant-input-affix-wrapper,
  .ant-input {
    border-radius: 10px !important;
  }
  display: flex;
  .right-container {
    background-color: #f5f5f5;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.chat-input-container {
  margin: 0 10px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  .files-container {
    padding: 4px 10px;
    overflow: hidden;
  }
}

// .ant-badge-status-green {
//   width: 20px;
//   height: 20px;
// }

.chat-item-active {
  background: rgba(0,0,0,0.1);
  border-radius: 26px;
}