* {
  margin: 0;
  padding: 0;
  border: 0;
}

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  .topbarLeft {
    flex: 3;
    span {
      text-decoration: none !important;
    }
    .logo {
      font-size: 24px;
      margin-left: 20px;
      font-weight: bold;
      color: white;
    }
  }
  .topbarRight {
    flex: 4;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    .topbarLink {
      text-decoration: none;
      color: white;
      margin-right: 30px;
      font-size: 14px;
      cursor: pointer;
      .topbarIcons {
        display: flex;
        .topbarIconItem {
          margin-right: 15px;
          cursor: pointer;
          position: relative;
        }
      }
    }
  }
}

.home {
  height: 100vh;
  width: 100vw;
  object-fit: conver;
}

.messenger {
  padding: 10px;
  height: calc(100vh - 70px);
  display: flex;
  .chatMenu {
    flex: 2.5;
    .chatMenuInput {
      margin-top: 10px;
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
    }
  }
  .chatBox {
    flex: 5.5;

    .chatBoxWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      .chatBoxTop {
        height: 100%;
        overflow-y: scroll;
        padding-right: 10px;
      }
      .chatBoxBottom {
        margin-top: 5px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        .chatBoxBottomForm {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .chatMessageInput {
          width: 32rem;
          height: 30px;
          padding: -1px;
        }
      }
    }
  }
  .chatOnline {
    flex: 3;
  }
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  //   @media screen and (max-width: 768px) {
  //     .chatMenu {
  //       flex: 1;
  //     }

  //     .chatMenuInput {
  //       display: none;
  //     }

  //     .chatBox {
  //       flex: 10;
  //     }

  //     .chatOnline {
  //       flex: 1px;
  //     }
  //   }
}

.conversation {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    background-color: rgb(245, 243, 243);
  }

  .conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .conversationName {
    font-weight: 500;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .conversationName {
      display: none;
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
  }
}
.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  span {
    margin-left: 10px;
    font-size: 18px;
  }
}
.homepage{
  align-items: center;
  .header{
    h2{
    padding:13px;
    }
    height: 8vh;
    background-color:#28acd1;
    align-items: center;
    
  }
  .body{
    text-align: center;
    align-items: center;
    color:#28acd1;
    h1{
      padding-top:20px ;
      padding-bottom: 10px;
      color:#28acd1;
     
    }
    .logo{
      font-size: 250px
    }
    p{
      padding-bottom: 10px;
    }
    .button{
      display: block;
      justify-content: space-between;
    }
    .button2{
      padding: 3px;
    }
    .button1{
      background-color: #28acd1;
      color:white;
      
     
     
    }
    .login-form-button{
      background-color: #28acd1;
      color:white;
    }
    

  }
  
  .button{
    text-align: center;
    align-items: center;
  }
  .end{
    padding: 20px;
  }
  .signin-form{
    
    align-items: center;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
   
  }
  .login-form{
    align-items: center;
   
   
  }
  a{
    text-decoration: none;
  }
  .signup-form{
    align-items: center;
    text-align: center;
    
    padding-left: 50px;
    padding-right: 50px;
   
  }
  .login-form-button{
    background-color: #28acd1;
    color:white;
  }
  .logo-signup{
    font-size: 200px;
  }
}
